<footer class="footer_container">
    <p class="footer__say text">
        {{ meta.message }}
    </p>
    <a class="text" href="{{ meta.github }}">GitHub</a>
    <a class="text" href="{{ meta.poweredBy }}">Powered by Eleventy</a>
    <p class="footer__year text">
      {{ meta.year }}
    </p>
</footer>
