<header class="header_container">
  <div><h1 class="header__sitename text"><strong>{{meta.title}}</strong>{% if title %}: {{title}}{% endif %}</h1></div>
  <p class="header__author text">{{meta.author}}</p>
</header>
