.contacts_container {
  height: fit-content;
  width: 100%;
  padding: 0;
  background-color: #C6C6C6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  grid-gap: 16px;
  padding: 16px;
}

@media (max-width: 1600px) {
  .contacts_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .contacts_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .contacts_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .contacts_container {
    grid-template-columns: repeat(1, 1fr);
  }
}


.contact {
  width: 100%;
}

.contact p {
  font-weight: 100;
}

.contact__image {
  width: 100%;
  background-color: black;
}

.film_description {
  padding: 16px;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  font-weight: 100;
}

.back {
  margin: 16px;
  margin-bottom: 0;
}
