.gallery_container {
  width: 100%;
  height: calc(100vh - 112px);
  padding: 0 16px 16px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: nowrap;
  justify-content: safe center;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: #f6f6F6;
  scroll-snap-type: x mandatory;
  scroll-padding: 16px;
}

.roll_container {
  flex-shrink: 0;
  width: min(480px, calc(100vw - 32px));
  min-height: 100%;
  max-height: 100%;
  background-color: #C6C6C6;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  scroll-snap-align: start;
}

.roll_container p {
  color: white;
  font-weight: 400;
}

.roll_container__description {
  background-color: inherit;
  padding: 16px 16px 0px 16px;
}

.roll_container a {
  text-decoration: none;
}

.description__title {
  font-weight: var(--font-weight-regular);
}

.description__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  font-weight: var(--font-weight-light);
}

@media (hover: hover) {
  .roll_container {
    filter: brightness(0.7);
  }

  .roll_container:hover {
    filter: brightness(1);
    transition: 0.5s;
  }
}


.roll_card {
  padding: 16px;
  width: 100%;
}

.roll_card__image {
  width: 100%;
  height: auto;
  display: block;
}
