.gallery_container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: #f6f6F6;
}

.roll_container {
  flex-shrink: 0;
  height: 100%;
  max-width: 360px;
  padding: 0 0 0 0;
  background-color: #C6C6C6;
  overflow: auto;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}

.roll_container p {
  color: white;
  font-weight: 400;
  padding: 16px;
}

.roll_container__description {
  background-color: inherit;
  padding: 8px;
}

.roll_container a {
  text-decoration: none;
}

.description__title {
  font-weight: 300;
}

.description__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 200;
}

@media (hover: hover) {
  .roll_container {
    filter: brightness(0.7);
  }

  .roll_container:hover {
    filter: brightness(1);
    transition: 0.5s;
  }
}


.roll_card {
  padding: 16px;
  width: 100%;
}

.roll_card__image {
  width: 100%;
  height: auto;
}
