html,
body {
  height: 100%;
  width: 100%;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.body_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.header_container {
  width: 100%;
  background-color: #3B3B3B;
  padding: 8;
}

.header__sitename {
  margin-bottom: 8PX;
  font-weight: (--font-weight-regular);
}

.header__author {
  font-weight: 300;
}

.footer_container {
  height: fit-content;
  width: 100%;
  background-color: #3B3B3B;
  padding: 8px;
  font-weight: (--font-weight-light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
}

.text {
  color: whitesmoke;
}
