---
layout: base.njk
eleventyImport:
  collections: ["roll"]
---

<main class="gallery_container">
  {%- for roll in collections.roll -%}
    {{roll.number}}
    <div class="roll_container" type="button">
      <a href="/rolls/{{roll.data.number}}/index.html" class="text">
        <div class="roll_container__description" type="button">
          <p class="description__title">Море леса</p>
        </div>
        {# <ul type="none"> #}
          {%- for photo in roll.data.photos -%}
            {# <li> #}
              <div class="roll_card">
                <img class="roll_card__image" src="/rolls/{{roll.data.number}}/photos/{{photo.number}}.jpg" loading="lazy" alt="film photo">
              </div>
            {# </li> #}
          {%- endfor -%}
        {# </ol> #}
        <div class="roll_container__description description__details">
          <p class="description__title">{{roll.date.toDateString()}}</p>
          <p class="description__title">{{roll.camera}}</p>
        </div>
      </a>
    </div>
  {%- endfor -%}
</main>
