---
layout: base.njk
---

<main class="">
  <p class="back">
    <a href="../../index.html">
      Back
    </a>
  </p>
  <article class="film_description">
    {% if filmed %}
    <p class="film_description__date">
      <strong>Date:</strong>
      {{filmed}}
    </p>
    {% endif %}
    {% if location %}
    <p class="film_description__location">
      <strong>Location:</strong>
      {{location}}
    </p>
    {% endif %}
    {% if story %}
    <p class="film_description__story">
      <strong>Story:</strong>
      {{story}}
    </p>
    {% endif %}
    {% if camera %}
    <p class="film_description__camera">
      <strong>Camera</strong>:
      {{camera}}
    </p>
    {% endif %}
    {% if lens %}
    <p class="film_description__lens">
      <strong>Lens</strong>:
      {{lens}}
    </p>
    {% endif %}
    {% if film %}
    <p class="film_description__film">
      <strong>Film</strong>:
      {{film}}
    </p>
    {% endif %}
    {% if developing %}
    <p class="film_description__develop">
      <strong>Developing</strong>:
      {{developing}}
    </p>
    {% endif %}
  </article>
  <div class="contacts_container">

    {%- for photo in photos -%}
      <div class="contact">
        <a href="/rolls/{{number}}/photos/{{photo.number}}.jpg">
          <img class="contact__image" src="/rolls/{{number}}/photos/xs-{{photo.number}}.jpg" loading="lazy" alt="{{photo.description}}">
        </a>
        <p>
          {{photo.number}}. {{photo.description}}
        </p>
      </div>
    {%- endfor -%}

  </div>
</main>
