---
layout: base.njk
pagination:
  data: collections.pagedRolls
  size: 3
  alias: rolls
---

<main class="gallery_container">
  {%- for roll in rolls -%}
    <div class="roll_container" type="button">
      <a href="/rolls/{{roll.data.number}}/index.html" class="text">
        <div class="roll_container__description" type="button">
          <p class="description__title">{{ roll.data.title }}</p>
          <div class="description__details">
          <p class="description__filmed">{{roll.data.filmed}}</p>
          <p class="description__camera">{{roll.data.camera}}</p>
        </div>
        </div>
        <ul type="none">
          {%- for photo in roll.data.photos -%}
            <li class="roll_card">
              <img class="roll_card__image" src="/rolls/{{roll.data.number}}/photos/xs-{{photo.number}}.jpg" loading="lazy" alt="{{photo.description}}">
            </li>
          {%- endfor -%}
        </ul>
      </a>
    </div>
  {%- endfor -%}
</main>
